.tag 
  .headshot
  .text-containtainer
    .title Rutger Willems
    ul.links
      li 
        a(href="https://twitter.com/rutierut" target="_blank")
          | Twitter
      li
        a(href="https://github.com/nickolasboyer" target="_blank")
          | Github
      li
        a(href="mailto:rut.willems@gmail.com" target="_blank")
          | Email